@import "compass/css3";

* {
  font-size: 1.4em;
  font-family: Verdana;
}

body, html, .container {
  height: 100%;
}

input
{
  width: 1.5em;
  border: none;
}
input:focus
{
    outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.correction-group {
  margin: 35px;
}

.correction {
  font-size: 1.5em;
  color: red;
  position: absolute;
}

.checkmark, .relative {
  position: absolute;
}

.checkmark {
  display: inline-block;
}
.checkmark:after {
  /*Add another block-level blank space*/
  content: '';
  display: block;
  /*Make it a small rectangle so the border will create an L-shape*/
  width: 30px;
  height: 60px;
  /*Add a white border on the bottom and left, creating that 'L' */
  border: solid #000;
  border-color: LimeGreen;
  border-width: 0 10px 10px 0;
  /*Rotate the L 45 degrees to turn it into a checkmark*/
  transform: rotate(45deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}