---
layout: layout.html
eleventyImport:
  collections: ["post"]
myData:
  myKey: myValue
---
{% renderTemplate "webc" %}
  <glow-ball webc:keep></glow-ball>
{% endrenderTemplate %}
<br/>
<br/>
<br/>

{% for post in collections.post | reverse %}
  {% renderTemplate "webc", { post: post } %}
    <post :post="post" webc:keep></post>
  {% endrenderTemplate %}
{% endfor %}
