---
layout: layout.html
eleventyImport:
  collections: ["post"]
---
{% renderTemplate "webc" %}
  <glow-ball webc:keep></glow-ball>
{% endrenderTemplate %}
<br/>
<br/>
<br/>
<br/>
<br/>

<!-- Featured Posts -->
{% for post in collections.featured %}
  {% renderTemplate "webc", { post: post } %}
    <post-min :post="post" webc:keep></post-min>
  {% endrenderTemplate %}
{% endfor %}
<a class="post__title" href="/posts/">( ... )</a>

<!-- Recent Posts -->
{#
{% set reversed = collections.post | reverse %}
{% for i in range(0, 2) %}
  {% set post = reversed[i]%}
  {% renderTemplate "webc", { post: post } %}
    <post-min :post="post" webc:keep></post-min>
  {% endrenderTemplate %}
{% endfor %}
#}
