---
layout: layout.html
title: Work
eleventyNavigation:
  key: Work
  order: 1
eleventyImport:
  collections: ["post"]
---
<h1 class="text-center" style="font-size: 1.25em;text-transform:uppercase">Professional</h1>
<br />
{% if not collections.professional %}
...
{% endif %}
{% for item in collections.professional | reverse %}
  {% renderTemplate "webc", { post: item } %}
    <post :post="post" webc:keep></post>
  {% endrenderTemplate %}
{% endfor %}

<!--
<h3 class="text-center" style="text-transform:uppercase">Personal</h3>
<br />
{% if not collections.personal %}
...
{% endif %}
{% for item in collections.personal | reverse %}
  {% renderTemplate "webc", { post: item } %}
    <post :post="post" webc:keep></post>
  {% endrenderTemplate %}
{% endfor %}
-->
