<footer
    class="d-flex justify-content-center align-items-center"
    style="font-size: 1rem;color: #888;height: 110px;flex-shrink: 0;"
>
    <div>
        <i>Ryan Jones</i>
        &nbsp;
        <<a href="https://www.linkedin.com/in/theryjo/" target="_blank" style="vertical-align: middle"
        ><img class="inline" src="/icons/linkedin.svg" style="width:18px"></a>
        <a href="https://github.com/theryjo" target="_blank" style="vertical-align: middle"
        ><img class="inline" src="/icons/github.svg" style="width:18px"></a>>
        &nbsp;
        ©2023
    </div>
</footer>
