.home-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 5px	
}

.home-tile {
	height: 245px;
    width: 245px;
}

.home-tile:hover .tile-image {
	opacity: 0.9;
}

.home-tile:hover .tile-text {
	opacity: 1;
}

.tile-image {
	height: 240px;
    width: 240px;
    margin-right: 5px;
    border-radius: 8px;
    box-shadow: 2px 2px 1px darkgrey;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.tile-text {
    position: relative;
    top: -60%;
    width: auto;
    opacity: 0;
    text-align: center;
    color: white;
    font-size: 40px;
}
